:root {
    --main-text: #212121;
    --second-text: #757575;
    --second-text-op60: rgba(255, 255, 255, 0.6);
    --accent-text: #2196F3;
    --white-text: #FFFFFF;
    --main-bg-color: #FFFFFF;
    --second-bg-color: #f5f4fa;
    --accenr-bg-color: #2F303A;
    --border-color: #ECECEC;
    --border-color-frame: #eeeeee;
    --border-form-footer: rgba(255, 255, 255, 0.3);
    --clients-svg-color: #AFB1B8;
    --transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --overlflow-function: rgba(33, 150, 243, 0.9);

}
  
html {
  box-sizing: border-box;
}

*,
*::before, *::after {
    box-sizing: inherit;
}

body {
  font-family: 'Roboto',sans-serif;
  color: var(--main-text);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    color: var(--main-text);

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;  
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

/* Studio */
/* Header */

.header-title {
    position: sticky;
    z-index: 2;
    top: 0;
    min-height: 80px;

    border-bottom: 1px solid var(--border-color);
    background-color: var(--main-bg-color);
}

.header-nav-menu {
    display: flex;
    align-items: center;
}
  
.site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    margin-left: 93px;
    position: relative;
}

.nav-menu-item:not(:last-child) {
    margin-right: 50px;
}

.site-nav a {
    color: inherit;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    padding-top: 24px;
    padding-bottom: 24px;
}

.logo .logo-header {
    color: var(--accent-text);
}

.logo .logo-footer {
    color: var(--white-text);
}

.nav-link {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-text);
    transition: color var(--transition-function);

}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-text);
}

.nav-link.current {
    position: relative;
    color: var(--accent-text);
}

.nav-link.current::after {
  content: '';
  position: absolute;
  display: block;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;

  background-color: var(--accent-text);
}

.contact-link {
    display: flex;
    margin-left: auto;
}

.contact-menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
 }

.contact-menu:not(:last-child) {
    margin-right: 30px;
}

.contacts-item + .contacts-item {
    margin-left: 50px;
  }

.contact-item {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;

    color: var(--second-text);
    transition: color var(--transition-function);
}
    
.contact-item:hover,
.contact-item:focus {
    color: var(--accent-text);
}

.link-svg {
    fill: var(--second-text);
    margin-right: 10px;
    fill:  currentColor;
}


/* Hero */
/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;

    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: transform var(--transition-function);
} 

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.order-modal {
    position: absolute;
    top: 50%;
    left: 50%;
  
    min-width: 528px;
    max-height: 100vh;
    padding: 40px;
      
    border-radius: 4px;
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    overflow: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-function);
}
  
.is-hidden .order-modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.order-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
      
    width: 30px;
    height: 30px;
    
    background: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
      
.order-close:active {
    outline: none;
}

.order-close-svg {
   transition: fill var(--transition-function);

}

.order-close-svg:hover,
.order-close-svg:focus {
    fill: var(--accent-text);
}


/* Form-modal */
.form-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.form-box:not(:first-child) {
    margin-top: 10px;
}

.form-thumb {
    margin-top: 4px;
    position: relative;
}

.form-lable{
    display: flex;
    margin-top: 10px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: var(--second-text);
}

.form-imput {
    padding: 12px 16px 12px 42px;

    width: 100%;
    height: 40px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    color: var(--main-text);
    transition: border-color var(--transition-function);

}
/* Form-imput */
.form-imput:focus {
    outline:none;
    border-color: var(--accent-text);
}

.form-imput:focus + .form-icon {
    fill: var(--accent-text);
}

.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    width: 18px;
    height: 18px;
}

.form-textarea {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    width: 100%;
    height: 120px;
    padding: 12px 16px;

    resize: none;
    outline:none;
    color: var(--main-text);
    transition: border-color var(--transition-function);
}

.form-textarea::placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus,
.form-textarea:active {
    color: var(--main-text);
    border-color: var(--accent-text);

}

/* Grebaniy checkbox */
.form-checkbox {
    margin: 20px 0 30px 12px;

}

.form-checkbox .lable-checkbox {
    display: flex;
    align-items: center;
}

.check {
    position: absolute;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-icon {
    cursor: pointer;
    fill: none;
    /* border: 2px solid var(--main-text); */
    transition: fill var(--transition-function),
    opacity var(--transition-function);
    opacity: 0;
    z-index: 1;

}


.check {
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text);
    border-radius: 2px;
}

.check:checked ~ .checkbox-icon {
    opacity: 1;
    border: none; 
}
    
.check-link {
    text-decoration-line: underline;
    color: var(--accent-text);
    display: flex;

    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}

.check-text {
    margin-left: 7px;
    display: flex;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: var(--second-text);
} 


/* .checkbox-icon .icon {
    display: block;
} */

/*.check-box {
    position: absolute;
    width: 16px;
    height: 15px;
    margin-left: 12px;
    border: 2px solid var(--main-text);
    border-radius: 2px;
    background-image: url(../images/uncheck.svg);
}

.input-checkbox:checked + .checkbox-icon ~ .check-box {
    background-image: url(../images/check.svg);
    border: none;
}

.input-checkbox:focus + .check-box {
    background-image: url(../images/uncheck.svg);
}

.input-checkbox:checked:focus + .check-box {
    background-image: url(../images/check.svg);
} */

/* .form-checkbox .label-checkbox {
    display: flex;
    align-items: center;
  
    margin: 0;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--second-text);
    cursor: pointer;
  }
  
  .label-checkbox a {
    color: var(--accent-text);
    opacity: 1;
    margin-left: 5px;
    transition: opacity var(--transition-function);
  }
  
  .label-checkbox a:focus,
  .label-checkbox a:hover {
    opacity: 1;
  }
  
  .label-checkbox:hover a {
    opacity: 1;
  } */


.modal-form-btn {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;

    width: 200px;
    height: 50px;
    padding: 10px 55px;

    color: var(--white-text);
    background: var(--accent-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/* Hero */
.hero-main {
    max-width: 1600px;
    margin: 0 auto;

    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url(../images/hero.jpg);
}

.hero {
    max-width: 1600px;
    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;
}

.title-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;

    color: var(--white-text);
}

.hero-button {
    border: none;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;

    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    
    color: var(--white-text);
    background-color: var(--accent-text);

}


    /* Postulati */
.postulates-main {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title-postulates {
    margin-bottom: 10px;
}

.postulates-name {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    justify-content: center;
    align-items: center;
}

.postulates-name-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
} 

.postulates-thumb {
    display: flex;
    background: #F5F4FA;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}

.title-postulates {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
}

.title-postulates-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--second-text);
}

.title-function {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}


/* Function */
.function-main {
    padding-bottom: 94px;
}

.title-function {
    padding-bottom: 50px;
    text-align: center;
}

.function-name {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.function-name >.function-name-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.function-item-title {
    position: relative;
    display: inline-block;
    z-index: -1;
}

.function-item-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 27px 82px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    background: rgba(47, 48, 58, 0.8);
    color: var(--white-text);
}


/* Our team */
.team-main {
    background-color: var(--second-bg-color);

    padding-top: 94px;
    padding-bottom: 94px;
}
      
.card {
    margin-bottom: 16px;
}

.title-team {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
    text-align: center;
}

.team-name {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.team-name-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-employee {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

    padding-bottom: 10px;
    padding-top: 30px;
}

.position-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--second-text);
}

.team-link {
    display: flex;
    align-items: center;

    padding: 0 32px 30px;
}

.team-link-menu:not(:last-child) {
  margin-right: 10px;
}

.team-link-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    color: var(--clients-svg-color);
    border-radius: 50%;

    transition: color var(--transition-function),
    background-color var(--transition-function);
}

.team-link-item:hover,
.team-link-item:focus {
    background-color: var(--accent-text);
    color: var(--white-text);
}

.team-link-svg {
    fill: currentColor;
}


/* Clients */
.clients-main {
    padding-top: 94px;
    padding-bottom: 94px;

    text-align: center;
}

.title-clients {
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.clients-name {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
  }
  
.clients-item {
    margin-right: 30px;
    margin-top: 30px;
  }
  
.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
  
    border-radius: 4px;
    border: 1px solid var(--clients-svg-color);

    color: var(--clients-svg-color);
    transition: color var(--transition-function), border-color var(--transition-function);
  }
  
.clients-logo {
    fill: currentColor;
  }
  
.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-text);
    color:var(--accent-text);
  }


/* Footer */
.footer {
    display: flex;
    align-items: baseline;
    justify-content:space-between;
}

.footer-first {
    margin-right: 70px;
}

.footer-second-title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-text);
}

.team-link {
    padding: 0 32px 30px;

    display: flex;
    align-items: center;
}

.footer-second-menu:not(:last-child) {
  margin-right: 10px;
}

.footer-second-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    color: var(--white-text);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: color var(--transition-function),
    background-color var(--transition-function);
}

.footer-second-item:hover,
.footer-second-item:focus {
    background-color: var(--accent-text);
    border-radius: 50%;
    color: var(--white-text);
}

.footer-second-svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}


.footer-second-name,
.footer-second-menu {
    display: flex;
}

.footer-main {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-text {
    margin-bottom: 9px;
}

.footer-list {
    margin-bottom: 9px;
}
  
.footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
  
.footer-link {
    color: var(--address-color-link);
  }
  
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
  }

.footer-main {
    background-color: var(--accenr-bg-color);
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--white-text);

    margin-top: 20px;
}

.footer-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--second-text-op60);
}

.footer-link:hover,
.footer-link:focus {
      color: var(--accent-text);
    } 

.footer-form {
    margin-left: 93px;
}
    
.footer-form-title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-bg-color);
}

.footer-form-box {
    display: flex;
}

.footer-form-thumb {
    display: flex;
}

.form-thumb-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    color: var(--main-bg-color);
    border: 1px solid var(--border-form-footer);
    box-sizing: border-box;
    border-radius: 4px;

    background: transparent;
    transition: border-color var(--transition-function);
}

.form-thumb-input:focus {
    outline: none;
    border-color: var(--accent-text);
}

.form-btn {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    position: relative;
    width: 200px;

    display: flex;
    padding: 10px 28px;
    margin-left: 12px;
    align-items: center;
    justify-content: space-between;
    background: var(--accent-text);
    
    color: var(--main-bg-color)
}

.form-svg {
    position: absolute;
    margin-left: 10px;
    right: 28px;
    /* z-index: 1; */
    top: 13px;
    width: 24px;
    height: 24px;
}


/* Portfolio */
/* filter */
.portfolio-button-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border: none;
    background-color: var(--second-bg-color);
    cursor: pointer;

    display: flex;
    padding: 6px 22px;
    margin-bottom: 50px;
    border-radius: 4px;

    transition: var(--transition-function);

}

.portfolio-button-item:hover,
.portfolio-button-item:focus {
    background: var(--accent-text);
    color: var(--white-text);
}

.title-filter {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.filter-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--second-text);
}

.portfolio-main {
    padding-top: 101px;
    padding-bottom: 94px;
}

.portfolio-name {
    display: flex;
    justify-content: center;
}

.portfolio-name-item:not(:last-child) {
    margin-right: 8px;
}

.card-name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.card-name-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    background: var(--main-bg-color);
    border: 1px solid var(--border-color-frame);
    box-sizing: border-box;
    display: flex;
}

.card-name-item:hover .card-overlay,
.card-name-item:focus .card-overlay {
    transform: translateY(0);
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    /* font-weight: 400; */
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    
    color: var(--white-text);

    transition: var(--transition-function);
    background: var(--overlflow-function);
    transform: translateY(100%);
}

.card-thumb {
    position: relative;
    overflow: hidden;
}

.card-name-link:hover,
.card-name-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-name {
    padding: 20px 24px;
}
