// Hero
.hero {
  min-height: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
.hero {
  background-image: var(--gradient-hero),
  url(../images/mobile/hero-480.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
.hero {
  max-width: 767px;

  background-image: var(--gradient-hero),
  url(../images/mobile/hero-480@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}
}
}

@media screen and (min-width: 768px) {
.hero {
  background-image: var(--gradient-hero),
  url(../images/mobile/hero-768.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
.hero {
  min-width: 768px;
  background-image: var(--gradient-hero),
  url(../images/mobile/hero-768@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}
}
}

@media screen and (min-width: 1200px) {
.hero {
  height: 600px;

  background-image: var(--gradient-hero),
  url(../images/mobile/hero-1600.jpg);
  background-size: cover;  
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
.hero {
  min-width: 1200px;
  height: 600px;

  background-image: var(--gradient-hero),
  url(../images/mobile/hero-1600@2x.jpg);
  background-size: cover;  
  background-repeat: no-repeat;
}
}
}

.hero__box {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  
@media screen and (min-width: 1200px) {
  padding-top: 200px;
  padding-bottom: 200px;
}    
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  color: var(--white-text);

@media screen and (min-width: 1200px) {
  font-size: 44px;
  line-height: 1.36;

}
}

.hero__btn {
  border: none;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  
  color: var(--white-text);
  background-color: var(--accent-text);
}
