html {
    box-sizing: border-box;
  }
  
  *,
  *::before, *::after {
      box-sizing: inherit;
  }
  
  body {
    font-family: 'Roboto',sans-serif;
    color: var(--main-text);
    margin: 0;
  }

  body.modal-open {
    overflow: hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
      margin: 0;
      color: var(--main-text);
  
  }
  
  ul {
      list-style: none;
      margin: 0;
      padding: 0;  
  }
  
  p {
      margin: 0;
  }
  
  a {
      text-decoration: none;
  }
  
  .visually-hidden{
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
    
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
  }
    
  img {
      display: block;
      max-width: 100%;
      height: auto;
  }
  
  
  .container {
    max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
    //   outline: 2px solid tomato;

      @media screen and (max-width: 767px){
      min-width:320px;
      max-width: 480px;
  }
}