/* Header */

.header {
    position: sticky;
    z-index: 2;
    top: 0;
    min-height: 80px;

    border-bottom: 1px solid var(--border-color);
    background-color: var(--main-bg-color);
}

.header__title {
    display: flex;
    align-items: center;
}
  
.header__nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;
}

.menu__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu__button .icon__cross {
    display: none;
}

.menu__button.is-open .icon__cross {
    display: block;
}

.menu__button.is-open .icon__cross {
    display: none;
}





.header__menu {
    display: flex;
    margin-left: 93px;
    position: relative;
}

.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__nav a {
    color: inherit;
}

.header__link {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-text);
    transition: color var(--transition-function);

&:hover,
&:focus {
    color: var(--accent-text);
}
}

.header__link.current {
    position: relative;
    color: var(--accent-text);


&::after {
  content: '';
  position: absolute;
  display: block;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;

  background-color: var(--accent-text);
}
}

.contact__menu {
    display: flex;
    margin-left: auto;
}

.contact__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.contact__item:not(:last-child) {
    margin-right: 30px;
}


.contact__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;

    color: var(--second-text);
    transition: color var(--transition-function);

&:not(:first-child){
    margin-left: 50px;
}
    
&:hover,
&:focus {
    color: var(--accent-text);
}
}

.link__svg {
    fill: var(--second-text);
    margin-right: 10px;
    fill:  currentColor;
}
