// Logo
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    padding-top: 24px;
    padding-bottom: 24px;

& .logo__header {
    color: var(--accent-text);
}

& .logo--footer {
    color: var(--white-text);
}
}