// Logo
.logo {
    justify-content:center;

    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: auto;

    @media screen and (max-width: 1199px){
        padding-top: 0;
        display: flex;
    }

& .logo__header {
    color: var(--accent-text);
}

& .logo--footer {
    color: var(--white-text);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 88px;
}
@media screen and (min-width: 1200px) {
    margin-right: 93px;
}
}

.nav {
    display: flex;
    @media screen and (max-width: 767px){
        padding: 16px 0 16px;
        }
        
    }



