// Filter
.portfolio {
    justify-content: center;
    padding: 60px 0;
    margin: auto;
    @media screen and (min-width: 480px) {
        max-width: 480px;
      }
    
    @media screen and (min-width: 768px) {
        max-width: 768px;
      }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        padding: 94px 0;
    }
}

.portfolio__name {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
        padding-bottom: 25px;
    }
    @media screen and (min-width: 768px) {
        justify-content: center;
        padding-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        padding-bottom: 50px;

    }
&--item:not(:last-child) {
    margin-right: 8px;
}
}

.portfolio__button--item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border: none;
    background-color: var(--second-bg-color);
    cursor: pointer;
    
    margin-bottom: 15px;
    padding: 6px 22px;
    border-radius: 4px;
    transition: var(--transition-function);

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }

&:hover,
&:focus {
    background: var(--accent-text);
    color: var(--white-text);
}
}

.object__name {
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (min-width: 768px) {
    margin-left: -30px;
    margin-top: -30px;
    }
}

.object__item:not(:last-child) {
    @media screen and (max-width: 767px) {
       margin-bottom: 30px;        
    }
}

.object__item {
    background: var(--main-bg-color);
    border: 1px solid var(--border-color-frame);
    box-sizing: border-box;
    display: flex;
    
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    
  @media screen and (min-width: 768px) and (max-width: 1199px)  {
      flex-basis: calc(100% / 2 - 30px);
      margin-top: 30px;
      margin-left: 30px;    
      width: 354px;
      flex-wrap: nowrap;
    }

  @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 30px);
      margin-top: 30px;
      margin-left: 30px;    
      width: 270px;
    }

&:hover .object__overlay,
&:focus .object__overlay {
    transform: translateY(0);
    }
}

.object__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    
    color: var(--white-text);

    transition: var(--transition-function);
    background: var(--overlflow-function);
    transform: translateY(100%);
}

.object__thumb {
    position: relative;
    overflow: hidden;
}

.object__link {
  transition: color var(--transition-function);  

&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

// .object__box {
//     height: 294px;
// }

.title__filter {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.filter__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--second-text);
}

.filter__box {
    padding: 20px 24px;
}
